rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Basic rules to allow read/write to the settings global document
    match /settings/customMonthRanges {
      allow read, write: if true;
    }
  }
}
